# Virtual environment
.venv/
venv/

# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment and secret files
.env

# IDE/project files
.idea/
.vscode/

# Large or intermediate data files
# (Keep only the ones you need)
shl_assessments_progress.csv

!hf_cache/

# OS files
.DS_Store
Thumbs.db
